<!-- Modal -->
<div class="modal fade" id="filter" tabindex="-1" role="dialog" aria-labelledby="my-Model-Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <span class="modal-title" id="my-Modal-Label">Filter</span>
        <button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_tag calendar_filter_path,method: :post  do |f|  %>
          <div class="form-group">
            <ul class='lists'>
              <% Category.all.each do |category| %>
                <li>
                <%= label_tag category.name %>
                <%= check_box_tag 'filters[]', category.name,session[:filters].include?(category.name) %>
                </li>
              <% end %>
            </ul>
          </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          <%= submit_tag "Submit",class: "btn btn-primary" %>
          <% end %>
     </div>
    </div>
  </div>
</div>
