<h3> Schedule for <%= date %> </h3>
<hr>
<div class='row events'>
  <table class = 'table table-bordered table-hover'>
    <tr>
      <th /> Time
      <th /> Name
      <th /> Remark
      <th /> Category
      <th /> Completed
      <th /> Edit
      <th /> Remove
    </tr>
    <% events.order(:time).each do |event| %>
      <%= render('event',{event:event}) %>
    <% end %>
  </table>
  <hr>
</div>
