<!-- <h3> Schedule for <%= date %> </h3> -->
<h3><%= "#{date.strftime("%A, %B %d, %Y")}" %></h3>
<hr>
<div class='events full-schedule'>
  <table class = 'table table-bordered table-hover'>
    <tr>
      <th /> Time
      <th /> Event
      <th /> Notes
      <th /> Type
      <th /> Completed
      <th /> Edit
      <th /> Remove
    </tr>
    <% events.each do |event| %>
      <%= render('/events/event',{event:event}) %>
    <% end %>
  </table>
  <hr>
</div>
