<h3> <%= date %> </h3>
<hr>
<div class='events schedule-<%= date %>'>
  <table class = 'table table-bordered table-hover'>
    <tr>
      <th /> Time
      <th /> Event
      <th /> Notes
      <th /> Completed
    </tr>
    <% events.each do |event| %>
      <%= render('/events/simple_event',{event:event}) %>
    <% end %>
  </table>
  <hr>
</div>
