<h3> Schedule for <%= date %> </h3>
<hr>
<div class='events schedule-<%= events.first.date %>'>
  <table class = 'table table-bordered table-hover'>
    <tr>
      <th /> Time
      <th /> Name
      <th /> Remark
      <th /> Completed
    </tr>
    <% events.each do |event| %>
      <%= render('/events/simple_event',{event:event}) %>
    <% end %>
  </table>
  <hr>
</div>
