<h1> My Scheule </h1>

<h3> Schedule Details </h3>
<p /> Duration: <span id='schedule-duration'><%= @schedule.duration %></span>
<br>
<button type="button" class="btn-sm btn-primary" data-toggle="modal" data-target="#update-schedule">
  Update
</button>
<hr>
<div class='row-fluid tasks'>
  <table id='userList' class = 'table table-bordered table-hover col-12 col-sm-4-offset-2'>
    <tr>
      <th /> Name
      <th /> Day
      <th /> Time
      <th /> Remark
      <th /> Category
      <th /> Edit
      <th /> Remove
    </tr>
    <% @schedule.tasks.order(:day,:time).each do |task| %>
      <%= render('/tasks/task',{task:task}) %>
    <% end %>
  </table>
  <hr>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#new-modal">
  NEW
</button>
  <%= render '/tasks/form',{title:"New Task",task:Task.new,modal_name:"new-modal"} %>
  <%= render 'edit' %>
</div>
<div id = "edit-task">
</div>
