<div class='row'>
  <div class="col-xs-12 col-sm-4 col-sm-offset-4">

    <h3>Forgot Password</h3>
    <br>
    <%= render 'forget_password_form' %>
    <br>
    <div class='form-respond'>
    </div>
  </div>
</div>
