<h1><%= "Welcome #{current_user.name}" %></h1>
<p><%= "Current time is #{Date.today}" %></p>

<hr>

<!-- <script> mergecell('time-col'); </script> -->

<h2> Things to do today </h2>
<ul id='todo'></ul>
<div class='container-fluid'>
    <div class='row-fluid align-items-center'>
      <div class="schedule">
        <% Category.all.each do |category| %>
        <div class='schedule-detail col-sm-12 col-md-4  col-lg-4'>
          <% event = current_user.get_schedule_with_filter(Date.today,category.name) %>
          <% if !event.empty? %>
            <%= render '/calendar/simple_schedule',{events:event,date:category.name} %>
          <% else %>
            <script>$("#todo").append("<li> No <%= category.name %> for Today! </li>")</script>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
</div>
