Welcome User
<hr>
<div class='schedule container row'>
  <!-- <div class='schedule-date'> -->
    <!-- <span> Date: <p class='current-date'> <%= Date.today.strftime("%m/%d/%Y") %></p></span> -->
  <!-- </div> -->
  <div class='schedule-detail col-4 col-sm-4'>
    <%= render '/calendar/simple_schedule', {events:current_user.get_schedule(Date.yesterday),date:"Yesterday"} %>
  </div>
  <div class='schedule-detail col-6 col-sm-4'>
    <%= render '/calendar/simple_schedule', {events:current_user.get_schedule(Date.today),date:"Today"} %>
  </div>
  <div class='schedule-detail col-4 col-sm-4'>
    <%= render '/calendar/simple_schedule', {events:current_user.get_schedule(Date.tomorrow),date:"Tomorrow"} %>
  </div>
</div>
