Welcome User
<hr>
<div class='schedule container'>
  <!-- <div class='schedule-date'> -->
    <!-- <span> Date: <p class='current-date'> <%= Date.today.strftime("%m/%d/%Y") %></p></span> -->
  <!-- </div> -->
  <div class='schedule-detail'>
    <%= render '/calendar/simple_schedule', {events:@events,date:"Today"} %>
  </div>
</div>
