<h3><%= "#{Date.today.strftime("%A, %B %d, %Y")}" %></h3>

<hr>

<!-- <script> mergecell('time-col'); </script> -->

<ul id='todo'></ul>
<div class='container-fluid'>
    <div class="schedule row-fluid">
      <% event =  current_user.get_schedule(Date.today)%>
      <% if !event.empty? %>
        <div class='schedule-detail'>
          <%= render '/calendar/simple_schedule',{events:event,date:Date.today} %>
        </div>
      <% else %>
        <script>$("#todo").append("<li> No event for Today! </li>")</script>
      <% end %>
      <!-- <% Category.all.each do |category| %>
        <% event = current_user.get_schedule_with_filter(Date.today,category.name) %>
        <% if !event.empty? %>
          <div class='schedule-detail col-sm-12 col-md-4 col-lg-4'>
            <%= render '/calendar/simple_schedule',{events:event,date:category.name} %>
          </div>
        <% else %>
          <script>$("#todo").append("<li> No <%= category.name %> for Today! </li>")</script>
        <% end %>
      <% end %> -->
    </div>
</div>
