<h1>Welcome to Caren, please sign up or sign in to continue</h1>

<br>

<div class='btn-group'>
  <div class=' btn-group-vertical btn-group-lg welcom-btn-group'>
      <%= link_to 'Sign Up',new_user_path , {class:'btn btn-success btn-block'}%>

      <%= link_to 'Sign In',new_session_path, {class:'btn btn-success btn-block'}%>
      <br>
      <%= link_to 'About',about_path, {class:'btn btn-danger btn-block'}%>
  </div>
</div>
