<h1>About MEDCAL</h1>

<p>Hi users, this program is developed and managed by Kevin Li</p>
<p>If there is any problem, please contact me by email</p>

<hr>
<h2> Admins </h2>
<ul>
  <li>
      <h3>Kevin Li</h3>
      Email: <span>lipwkevin@gmail.com </span>
      <br>
  </li>
</ul>
