<h1>About Caren</h1>

<span> THIS WILL BE THE DESCRIPTION OF PROGRAM</span>

<br>
<br>
<p> VVVVVVVVVVVV REMOVE ON FINAL VERSION VVVVVVVVVVVVVVVV</p>
<hr>
TODO:
<p /> may be add a help page
<p /> checkbox for terms of use
<p /> register a email for support
<p /> rewrite about page
<br>
<hr>
Decisions:
<p /> finalize color coding
<p /> define time sperator for morning, noon, night
<p /> menu before logo or logo before menu
<p /> List of categories
<p /> what to display on user info page
<hr>
Known bugs:
<p /> disabled password validation(min lenght) for debug purpose
<hr>
<p> ^^^^^^^^^^^^^^^^ REMOVE ON FINAL VERSION ^^^^^^^^^^^^^^^^</p>


<h2> Support and Help </h2>
<ul>
  <li>
      <span>Contact:
        <%= mail_to "lipwkevin@gmail.com" do %>
          <strong>Email</strong>
        <% end %>
      </span>
      <br>
  </li>
</ul>
