<h1>About Caren</h1>

<p>Hi users, Caren is developed and managed by Kevin Li</p>
<p>If there is any problem, please contact me by email</p>
<hr>
<br>
TODO:
<p /> encryption (but SSL is available)
<p /> Restriction to user entries

<hr>
<h2> Admins </h2>
<ul>
  <li>
      <span>Contact:
        <%= mail_to "lipwkevin@gmail.com" do %>
          <strong>Email</strong>
        <% end %>
      </span>
      <br>
  </li>
</ul>
