<h1>About Caren</h1>

<span> THIS WILL BE THE DESCRIPTION OF PROGRAM</span>

<br>
<br>
<p> VVVVVVVVVVVV REMOVE ON FINAL VERSION VVVVVVVVVVVVVVVV</p>
<hr>
TODO:
<p /> encryption (but SSL is available)
<p /> finalize color coding and define time zone
<p /> may be add a help page
<br>
<hr>
Known bugs:
<p /> 1 hour off for google calendar (timezone -7 vs -8)
<hr>
<p> ^^^^^^^^^^^^^^^^ REMOVE ON FINAL VERSION ^^^^^^^^^^^^^^^^</p>


<h2> Admins </h2>
<ul>
  <li>
      <span>Contact:
        <%= mail_to "lipwkevin@gmail.com" do %>
          <strong>Email</strong>
        <% end %>
      </span>
      <br>
  </li>
</ul>
