<h1>About Caren</h1>

<span> THIS WILL BE THE DESCRIPTION OF PROGRAM</span>

<br>
<br>
<p> VVVVVVVVVVVV REMOVE ON FINAL VERSION VVVVVVVVVVVVVVVV</p>
<hr>
TODO:
<p /> rewrite about page
<p /> Forget password requires userid for verification, which is not used anymore
<br>
<hr>
COMPLETED:
<p /> register a email for support
<p /> use mailer to reset password
<P /> Weekly view
<p /> Monthly View
<P /> User's preference
<p /> checkbox for terms of use
<p /> display 2 week overview on home
<p /> display user info
<hr>
Decisions:
<p /> finalize color coding
<p /> define time sperator for morning, noon, night
<hr>
<p> ^^^^^^^^^^^^^^^^ REMOVE ON FINAL VERSION ^^^^^^^^^^^^^^^^</p>


<h2> Support and Help </h2>
<ul>
  <li class='content'>
    <span>Contact:
      <%= mail_to "carenhelpdesk@gmail.com" do %>
        <strong>Email</strong>
      <% end %>
    </span>
    <br>
  </li>
</ul>
