<h1>About Caren</h1>
<br>
<div class="about-text-div">
  <p>
    <span class="space"></span>Caren is a web application designed to help people, especially chemotherapy patients, keep track off their re-occuring medical schedules. In addition of able to keeping track of notes and health care provider information, I hope Caren can be a useful tool for user.
  </p>
  <p>
    <span class="space"></span>The original alpha version of Caren was developed back in August 2016, intended to help my sister keep track of her medical schedule. In February 2017, I redesigned the system and develop Caren as a web application, hoping to aid more people fighting against diseases.
  </p>
  <p>
    <span class="space"></span>Karen inspired and helped a lot of people around her before she left this world, and I hope this website can carry her legacy and help more people around the world.
  </p>
  <p>
    In memory of my sister Karen,
  </p>
  <p>
    <span style="padding-left:20px;">Kevin</span>
  </p>
</div>

<h2> Support and Help </h2>
<ul>
  <li class='content'>
    <span>Contact:
      <%= mail_to "carenhelpdesk@gmail.com" do %>
        <strong>carenhelpdesk@gmail.com</strong>
      <% end %>
    </span>
    <br>
  </li>
</ul>
