<h1>About MEDCAL</h1>

<p>Hi users, this program is developed and managed by Kevin Li</p>
<p>If there is any problem, please contact me by email</p>
<hr>
UPDATE LOG:
<p /> Check function completed
<p /> Now can change user info
<br>
<br>
TODO:
<p /> forgot password
<p /> Filtering based on category
<p /> better interface, less redirection
<p /> overlay windows
<p /> encryption

<hr>
<h2> Admins </h2>
<ul>
  <li>
      <h3>Kevin Li</h3>
      Email: <span>lipwkevin@gmail.com </span>
      <br>
  </li>
</ul>
