<h1>About Caren</h1>

<span> THIS WILL BE THE DESCRIPTION OF PROGRAM</span>

<br>
<br>
<p> VVVVVVVVVVVV REMOVE ON FINAL VERSION VVVVVVVVVVVVVVVV</p>
<p> ^^^^^^^^^^^^^^^^ REMOVE ON FINAL VERSION ^^^^^^^^^^^^^^^^</p>


<h2> Support and Help </h2>
<ul>
  <li class='content'>
    <span>Contact:
      <%= mail_to "carenhelpdesk@gmail.com" do %>
        <strong>carenhelpdesk@gmail.com</strong>
      <% end %>
    </span>
    <br>
  </li>
</ul>
