<h1> Terms and Agreements </h1>
<br>
<br>
<p/>1.       The connection between client and server is protected by SSL encryption.
<p/>2.       All your information will never be used outside of Caren.
<p/>3.       Database used by Caren is stored under the service provider Heroku.
