<div class="legend">
  <ul>
    <li><span class="Medicine"></span> Medicine</li>
    <li><span class="Appointment"></span> Appointment</li>
    <li><span class="Infusion"></span> Infusion</li>
    <li class="priority"><span></span> important</li>
  </ul>
</div>
