/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.


 *= require_tree .
*= require_self
*= require jquery-ui
*= require chosen
*/

@import "bootstrap-sprockets";
@import "bootstrap";

$menu-height: 80px;
.navbar-toggle{
        color: grey;
}

body{
  min-width: 560px;
    .body.container-fluid{
      padding-top:10px;
      border: 1px solid #000;
      border-radius: 20px;
      min-width: 540px;
      min-height: 360px;
      width: auto !important;
      padding-bottom: 40px;
      text-align: center;
    }
  // background-color: #9fc2f9;
}
hr{
  border-color: #cecece;
}
hr.small-line{
  margin-top: 2px;
  margin-bottom: 2px;
}

.navbar {
  margin-bottom: 0px !important;
  .logo{
    // color:purple !important;
    color:lightblue !important;
    font-size: -webkit-xxx-large;
    height: $menu-height;
    display: flex;
    align-items: center
  }
  .date-display{
    // color:black;
    font-size: 2rem;
    color:white;
    position: absolute;
    top:0;
    left:0;
    right: 0;
    text-align: center;
    // margin-right: 50%;
    z-index: 99;
  }
  .menu-item{
    height: $menu-height;
    line-height: $menu-height;
    vertical-align: middle;
    display: inline-flex;
    .nav-title{
      font-weight: bolder;
    }
    color: grey;
    .navbar-btn{
      color:grey;
    }
    .navbar-btn:hover,:focus{
      background-color: #999999;
      color:black;
      text-decoration: none;
    }
    .navbar-item{
      font-size: 1.6rem;
      margin: 0px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
.remove-icon,.close-btn{
  color: red;
}
.close{
  margin-bottom: 0px;
  color:red;
}
.form-error{
  color: red
}
.redirect-buttons{
  padding-left: 10%;
  padding-right: 10%;
}

footer{
  font-size: 10px;
  background-color: #efefef;
  text-align: center;
}

ul{
  list-style-type: none;
}

th{
  text-align: center;
}

/* custom template */
.wrapper, .row {
   height: 95%;
   margin-left:0;
   margin-right:0;
}
.column {
    height: 100%;
    overflow: auto;
    *zoom:1;
}
.full{
	padding-top:30px;
}
.box {
  	bottom: 0; /* increase for footer use */
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-color:#444444;
    overflow: hidden;
    min-width: 460px;
}
#main {
  //  background-color:#e9eaed;
   background-color:white;
   padding-left:0;
   padding-right:0;
}
#sidebar{
  padding-left: 0px;
  padding-right: 0px;
}
#sidebar, #sidebar a{
    color:#ffffff;
    background-color:transparent;
	  text-shadow:0 0 2px #000000;
    padding-top:20px;
}
#sidebar .nav li>a:hover {
    background-color:#393939;
}
.col-sm-9.full {
    width: 100%;
}
/* adjust the contents on smaller devices */
@media (max-width: 768px) {
  .column .padding {
    padding: 7px;
  }
  .full{
	padding-top:20px;
  }
}
/*
 * off canvas sidebar
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-left.active {
    left: 33%;
  }
  .row-offcanvas-left.active .sidebar-offcanvas {
    left: -33%;
    position: absolute;
    top: 0;
    width: 33%;
    margin-left: 5px;
  }
  #sidebar, #sidebar a{
    padding-left:3px;
  }
}
