// Place all the styles related to the calendar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.schedule-full{
  div{
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  display: inline;
}
.btn-group{
  padding-left: 5px;
  padding-right: 5px;
}
.ui-datepicker{
  width: 17em;
  // padding: .2em .2em 0;
  display: none;
  // width: 55rem!important;
  width: 66.6%!important;
  font-size: 2rem!important;
  table{
    max-width:100%;
    max-height:100%;
  }
}
.input-datepicker{
    margin-left: 30%;
    margin-right: 30%;
}

.date-mark{
  background-color: lightyellow;
}

.filter-modal{
  // width: 5
  h1{
    margin: 0px;
  }
}
.filter-form{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  ul{
    display: inline-block;
  }
  .content{
    display: flex;
    padding:0
  }
}

.timeIcon{
  max-height: 30px;
}

#switchViewBtn{
  width: 120px;
  text-align: center;
}

.today-btn{
    margin: 0 10px;
    color: black;
}
