// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* basic positioning */
.legend {
  display: block;
  ul{
    list-style: none;
    display: inline-flex;
    padding: 5px;
    border: 1px solid #000;
    li {
      // float: left;
      margin-right: 10px;
    }
    span {
      border: 1px solid #ccc;
      float: left;
      width: 12px;
      height: 12px;
      margin: 2px;
    }
    .priority{
      font-weight: bold;
    }
    .Medicine{
      background-color: #5cb85c;
    }
    .Appointment{
      background-color: blue;
    }
    .Infusion{
      background-color: #f7bd00;
    }
  }
}
.Medicine{
  color: red;
}
.Appointment{
  color: blue;
}
.Infusion{
  color: #f7bd00;
}
tr {
  td{
    font-family: Arial;
  }
  .med-morning{
    background-color: lightgreen;
  }
  .med-noon{
    background-color: lightblue;
  }
  .med-night{
    background-color: lightyellow;
  }
  .priority{
    // background-color: #6d6e71;
    background-color: lightgrey;
    font-weight: bold;
  }
  td {
    vertical-align: middle!important;
  }
  .checkbox:hover{
    z-index: 1;
  }
}
table           { border-collapse:collapse }
tr.strikeout td { position:relative        }
// tr.strikeout td:not(.time-col):before {
tr.strikeout td:before {
  content: " ";
  position: absolute;
  left: 0; top: 50%; width: 100%;
  border-bottom: 3px solid #000;
  z-index: 2;
}
.calendar-table{
  th{
    font-size: medium;
  }
  .calendar-day{
    padding: 0;
    padding-top:5px;
    height: 100px !important;
    min-width: 70px;
    max-width: 70px;
    position: relative;
    overflow: auto;
    .date-label{
      padding-bottom: 2px;
      .false{
        color: gray;
        font-weight: normal;
      }
      color:black;
      font-size: x-small;
      font-weight: bold;
      text-align: right;
      position: absolute;
      top: 0;
      right: 0;
    }
    .events{
      height: 90px !important;
      overflow-y: auto;
      overflow-x: hidden;
      .event-label{
        font-size: initial;
      }
      .important{
        font-weight: bold;
      }
    }
  }
}
.repeat-quantity-box{
  border-width: 0px;
  max-width: 50px;
  text-align: center;
}
