// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

tr {
  .med-morning{
    background-color: lightgreen;
  }
  .med-noon{
    background-color: lightblue;
  }
  .med-night{
    background-color: lightyellow;
  }
}
