// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.welcom-btn-group{
  .btn-block{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  &{
    min-width: 400px;
  }
}
