<h1> Information </h1>
<br>
<div class="row">
  <% @settings.each do |setting|  %>
  <div class='col-sm-12 col-md-4'>
    <%= render 'setting',{setting:setting} %>
  </div>
  <% end %>
</div>
<hr>
<div class='btn-group'>
  <div class='btn-group-vertical btn-group-lg'>
    <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#new">
      New
    </button>
    <br>
    <br>
    <!-- <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#changeInfo">
      Update Info
    </button> -->
  </div>
</div>

<%= render 'setting_modal' ,{setting:Setting.new,url:info_create_path,text:"New Medical Info",modal_id:"new"}%>
<div id="edit-modal">
  <%= render 'setting_modal' ,{setting:Setting.new,url:"",text:"Edit Medical Info",modal_id:"edit"}%>
</div>
